<!DOCTYPE html>

-
    const message = `Hello fellow shoppers! We're currenty building our new fashion store. Add your email below to stau up-to-date with announcements and our lauch deals`


html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="./images/favicon-32x32.png", type="image/png")
        link(rel="stylesheet", href="styles.css")
        title Frontend Mentor | Base Apparel coming soon page
    body
        header
            img(src='./images/logo.svg').header-logo
        article.hero
        article.comming-container
            h1.were WE'RE
            h1.comming COMING
            h1.comming.soon SOON
            p.message= message
            div.email-container
                input.email-input(type="text",placeholder="Email Address")
                div.email-input-icon !
                a(href='#').email-button > 

        //- footer
        //-     p.attribution
        //-         | Challenge by 
        //-         a(href='https://www.frontendmentor.io?ref=challenge',target='_blank') Frontend Mentor
        //-         br
        //-         | Code by 
        //-         a(href="#") Jeffrey Torres
        //-    <p class="attribution">
        //-     Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
        //-     Coded by <a href="">Jeffrey Torres</a>.
        //-    </p>
                
                    
