:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --font-family: 'Josefin Sans';
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/static/JosefinSans-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/static/JosefinSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/static/JosefinSans-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/static/JosefinSans-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
}

h1 {
    letter-spacing: 0.4rem;
    font-family: var(--font-family);
}

body {
    display: grid;
    min-height: 100vh;
    background-color: #FFF7F8;
    grid-template-rows: 12% 35% 1fr;
    grid-template-areas:
        "header"
        "hero"
        "comming"
    ;

}

.header-container {
    grid-area: header;
    align-self: center;
}

.header-logo {
    max-width: 5.2rem;
    margin-left: 1.9rem;
    object-fit: contain;
}

.hero {
    grid-area: hero;
    background-image: url(./images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.comming-container {
    padding-top: 3.1rem;
    grid-area: comming;
    height: 100%;
    width: 100%;
    text-align: center;
}

.were {
    font-size: 2.2rem;
    color: var(--desaturated-red);
    font-weight: 100;
}

.comming {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--dark-grayish-red);
    line-height: 1.1;
}

.soon {
    margin-bottom: .9rem;
}


.message {
    padding: 0 1.3rem;
    font-size: .8rem;
    font-family: var(--font-family);
    color: hsla(0, 36%, 70%, 0.64);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.028rem;
    margin-bottom: 2.2rem;
    font-weight: 400;
}

.email-container {
    align-items: center;
    height: 3rem;
    display: flex;
    border: 0.05rem #E7D5D7 solid;
    border-radius: 2.3rem;
    padding-left: 0.5rem;
    margin: 1rem 1rem 4rem 0.6rem;

}

.email-input-icon {
    display: none;
    --icon-size: 20px;
    color: white;
    text-align: center;
    vertical-align: center;
    height: var(--icon-size);
    width: var(--icon-size);
    background-color: var(--soft-red);
    border-radius: 3rem;
    margin: 0 0.1rem;
}

.email-input {
    margin-left: 1.1rem;
    flex-grow: 1;
    border: none;
    font-size: 0.8rem;
    font-family: var(--font-family);
    background: none;
}

.email-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 4rem;
    height: 100%;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    box-shadow: 0 1rem 1.3rem 0.5rem rgba(206, 151, 151, 0.2);
    background: linear-gradient(to left, rgb(251, 141, 144), rgba(255, 171, 173, 0.65));
}

.email-button:hover {
    box-shadow: 1px 0.4rem 0.7rem 0.3rem rgba(206, 151, 151, 0.7);
    background: #FDD0CE;
}

.email-button::after {
    margin-right: .5rem;
    content: '';
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border: transparent;
    border-right: 0.1rem white solid;
    border-bottom: 0.1rem white solid;
    transform: rotateZ(-45deg);
}

.email-input::placeholder {
    color: hsl(0, 36%, 87%);
    font-weight: 400;
    font-style: normal;
    font-family: var(--font-family);
}

.email-input:focus {
    outline: none;
}


.attribution {
    text-align: center;
    color: var(--desaturated-red);
}

.attribution a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;

}


/* Desktop: 1440px */
@media only screen and (min-width:778px) {
    body {
        grid-template-columns: 1fr 42.1%;
        grid-template-rows: 15% 1fr;
        grid-template-areas:
            "header hero"
            "comming hero "

        ;
    }

    .header-logo {
        max-width: 8.9rem;
        justify-self: center;
    }

    .comming-container {
        display: flex;
        width: 100%;
        height: 100%;
        padding-top: 7rem;
        flex-direction: column;
        justify-content: center;
    }

    .header-container,
    .comming-container {
        padding: 0 18.9%;
    }

    .were,
    .comming {
        font-size: 4.8rem;
        letter-spacing: 1rem;
    }

    .were,
    .comming,
    .message {
        text-align: left;
    }

    .message {
        line-height: 1.8;
        width: 86%;
        padding: 0;
        font-size: 1rem;
        margin-bottom: 1rem
    }

    .hero {
        height: 100%;
        background-image: url(./images/hero-desktop.jpg);
       
        background-position: right center;
        margin-bottom: 0;
    }
    .email-container{
        height: 3.4rem;
        width: 87%;
        margin-left: 0;
    }
    .email-button{
        width: 5.7rem;
    }
    .email-input::placeholder {
        color: hsl(0, 36%, 87%);
        font-weight: 400;
        font-style: normal;
        font-family: var(--font-family);
    }

}