@font-face {
  font-family: 'Josefin Sans';
  src: url(./Josefin_Sans/static/JosefinSans-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(./Josefin_Sans/static/JosefinSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(./Josefin_Sans/static/JosefinSans-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(./Josefin_Sans/static/JosefinSans-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}